## Machine Learning

In [192]:
# Salaray prediction
import pandas as pd
from sklearn.linear_model import LinearRegression

In [193]:
df = pd.read_csv('data/Salary_Data.csv')
new_test_data = pd.DataFrame({
    'Age': [30],
    'Gender': ['Male'],
    'Education Level': ['Bachelor\'s'],
    'Job Title': ['Software Engineer'],
    'Years of Experience': [7],
    'Salary': [200000]
})
df = pd.concat([df, new_test_data], axis=0)
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [194]:
df.shape

(6705, 6)

In [195]:
df.iloc[6704]

Age                                 30.0
Gender                              Male
Education Level               Bachelor's
Job Title              Software Engineer
Years of Experience                  7.0
Salary                          200000.0
Name: 0, dtype: object

In [196]:
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [197]:
df.shape

(6705, 6)

In [198]:
df.isna().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [199]:
df.dropna(inplace=True, axis=0)
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [200]:
df.isna().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [201]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [202]:
df.columns

Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [203]:
numeric_cols = ["Age", "Years of Experience"]
categorical_cols = ["Gender", "Education Level", "Job Title"]
df_numeric = df[numeric_cols]
df_categorical = df[categorical_cols]
df_numeric.head()

    Age  Years of Experience
0  32.0                  5.0
1  28.0                  3.0
2  45.0                 15.0
3  36.0                  7.0
4  52.0                 20.0

In [204]:
df_categorical.head()

   Gender Education Level          Job Title
0    Male      Bachelor's  Software Engineer
1  Female        Master's       Data Analyst
2    Male             PhD     Senior Manager
3  Female      Bachelor's    Sales Associate
4    Male        Master's           Director

In [205]:
df.isna().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [206]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [207]:
df_categorical.head()

   Gender Education Level          Job Title
0    Male      Bachelor's  Software Engineer
1  Female        Master's       Data Analyst
2    Male             PhD     Senior Manager
3  Female      Bachelor's    Sales Associate
4    Male        Master's           Director

In [208]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df = pd.concat([df[numeric_cols], pd.get_dummies(df_categorical, drop_first=True), df[["Salary"]]], axis=1)
X = df.drop(columns=["Salary"], axis=1)
Y = df[["Salary"]]

In [209]:
test_data = X.iloc[[6698]]

In [210]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=.2, random_state=15) # random_state=15 sets the seed to same values on each iteration

print(f"{X_train.shape}, {y_train.shape}")

(5359, 200), (5359, 1)

In [211]:
y_train.isna().sum()

Salary    0
dtype: int64

In [212]:
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

LinearRegression()

In [213]:
X_test.head()

,Age,Years of Experience,Gender_Male,Gender_Other,Education Level_Bachelor's Degree,Education Level_High School,Education Level_Master's,Education Level_Master's Degree,Education Level_PhD,Education Level_phD,...,Job Title_Supply Chain Manager,Job Title_Technical Recruiter,Job Title_Technical Support Specialist,Job Title_Technical Writer,Job Title_Training Specialist,Job Title_UX Designer,Job Title_UX Researcher,Job Title_VP of Finance,Job Title_VP of Operations,Job Title_Web Developer
714,30.0,5.0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3303,23.0,1.0,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1991,33.0,6.0,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3911,27.0,3.0,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2249,43.0,14.0,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [214]:
predictions = lr_model.predict(X_test)
predictions

array([[138025.19423432],
       [ 69894.0520657 ],
       [107266.2641249 ],
       ...,
       [ 87164.60234121],
       [ 95380.93228683],
       [ 65457.23691278]])

In [215]:
from sklearn.metrics import mean_squared_error, root_mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

def calculate_error(y_test, predictions):
    mse = mean_squared_error(y_test, predictions)
    rmse = root_mean_squared_error(y_test, predictions)
    mae = mean_absolute_error(y_test, predictions)
    mape = mean_absolute_percentage_error(y_test, predictions)

    print(f"MSE: {mse:.4f}, RMSE: {rmse:.4f}, MAE: {mae:.4f}, MAPE: {mape:.4f}")
    return mse, rmse, mae, mape

In [216]:
# raw_errors = calculate_error(y_test, predictions)
preproessed_errors = calculate_error(y_test, predictions)

MSE: 324723116.5043, RMSE: 18020.0754, MAE: 12864.9841, MAPE: 0.1258

In [217]:
lr_model.predict(test_data.values)

/Users/admin/Desktop/MDS/ds-fundamentals/venv/lib/python3.9/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[154490.4443299]])